.top-page{
    border-bottom: 2px solid black;
}
.box{
    border: 3px solid black;
    /* display: block; */
    box-sizing: border-box;
}

h1 {
   padding-left: 20px;
   margin: 10px;
}

main div {
    /* max-width: 512px; */
    /* margin-top: 1em;  */
    /* margin: 1em 3em; */
    margin: 15px 50px;
    padding: 0 30px;
}

.box{
   min-height: 160px; 
}

h2 {
    margin-bottom: auto;
}

#monitor {
    /* width: 512px; */
    border: 2px dotted red;
    margin: 0;
}

.last-box {
   border-top: 2px solid black;
   padding-left: 2em;
   padding-top: 0.7em;
}
